:root{
	background-color: #FEFEF9;
}

.header-container{
	margin-top: 100px;
}

.text-and-arrow{
	margin-bottom: 20px;
	animation: float 1s infinite;
	text-align: right;
}
  .text{
	font-family: "roboto";
	font-weight: bold;
	font-size: 20px;
	margin-right: 170px;
  }
.arrow{
	font-size: 35px;
	margin-right: 200px;
}

@keyframes switchcolor{
	0%{
		color: #F1ED26;
	}
	100%{
		color: blue;
	}
}

@keyframes float{
	0%, 100%{
		color: blue;
		transform: translateY(-5px);
	}
	50%{
		color:#F1ED26;
		transform: translateY(5px);
	}
}

.author{
	font-family: "roboto";
	font-size: 20px;
	font-weight: bold;
	margin-left: 160px;
	position: absolute;
	top: 100px;
}

.title-container{
	height: 300px;
	border: 6px solid black;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	
	margin-left: 160px;
	margin-right: 160px;
}
.title-container:hover{
	transform: rotate(-30deg);
	border: none;
}
.title-container:hover h1{
	animation: none;
	position: static;
	font-size: 110px;
	color: blue;
	text-align: center;
}
.title-container:hover h1 span.t{
		font-family: "Gloria Hallelujah";
	}
.title-container:hover h1 span.hats{
	font-family: "Covered By Your Grace";
}
.title-container:hover h1 span.en{
	font-family: "Permanent Marker";
}
.title-container:hover h1 span.tertain{
	font-family: "Covered By Your Grace";
}
.title-container:hover h1 span.m{
	font-family: "Give You Glory";
}
.title-container:hover h1 span.ent{
	font-family: "Covered By Your Grace";
}


h1{
	font-family: "roboto";
	font-weight: bold;
	font-size: 70px;

	position: absolute;
	white-space: nowrap;
	animation: title 4s infinite;
}


@keyframes title {
	0% {
		top: 0;
		left: 0;
		transform: translate(0, 0);
	  }
	  25% {
		top: 0;
		left: 100%;
		transform: translate(-100%, 0);
	  }
	  50% {
		top: 100%;
		left: 100%;
		transform: translate(-100%, -100%);
	  }
	  75% {
		top: 100%;
		left: 0;
		transform: translate(0, -100%);
	  }
	  100% {
		top: 0;
		left: 0;
		transform: translate(0, 0);
	  }
  }
.content{
	margin-top: 100px;
}
.sticky-subtitle1{
	display: inline-block;
	background-color: #FFFD92;
	width: 250px;
	padding: 20px;
	transform: rotate(-10deg);
	text-align: center;
	margin-left: 170px;
	position: sticky;
	top: 22px;
}
.sticky-subtitle1 h2{
	font-family: "Covered By Your Grace";
	font-size: 32px;
	color: blue;
	position: sticky;
}

.sticky-subtitle2{
	display: inline-block;
	background-color: #FFFD92;
	width: 250px;
	padding: 20px;
	transform: rotate(10deg);
	text-align: center;
	margin-left: 170px;
	position: sticky;
	top: 22px;
}
.sticky-subtitle2 h2{
	font-family: "Covered By Your Grace";
	font-size: 32px;
	color: blue;
	position: sticky;
}


p{
	font-size: 18px;
	font-family: "roboto";
	line-height: 1.5;
	max-width: 700px;
	margin-left: 600px;
	margin-bottom: 20px;
	/* margin-top: -130px; */
}
.highlight{
	background-color: #FFFD92;
	font-weight: bold;
}

.quote-paragraph{
	font-size: 16px;
	color: blue;
	font-family: "roboto";
	font-style: italic;
	position: relative;
	line-height: 1.6;
	margin-top: 40px;
	margin-bottom: 40px;
}

.quote-mark1{
	position: absolute;
	color: #FFFD92;
	font-size: 150px;
	font-family: "Rammetto One";
	/* display: inline-block;
	vertical-align: top; */
	line-height: 1;
	z-index: -1;
	left: -30px;
}

.quote-mark2{
	position: absolute;
	color: #FFFD92;
	font-size: 150px;
	font-family: "Rammetto One";
	/* display: inline-block;
	vertical-align: top; */
	line-height: 1;
	z-index: -1;
	text-align: right;
	right: 40px;
	top: 75px;
}

.quote-mark3{
	position: absolute;
	color: #FFFD92;
	font-size: 150px;
	font-family: "Rammetto One";
	/* display: inline-block;
	vertical-align: top; */
	line-height: 1;
	z-index: -1;
	text-align: right;
	right: 20px;
	top: 0px;
}